@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
    --darkGray: "zinc-400"
}

html {
    background-color: #07141E ;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        background-color: #8a8a8a;
        width: 2px;
    }
    .no-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: #444444;
      }

}

@layer components {
    .inputDarkModeOverride {
      &:-webkit-autofill {
        box-shadow: 0 0 0 30px #132938 inset;
        -webkit-text-fill-color: #bfdbfe;
    }
    
    &:-webkit-autofill:hover {
        box-shadow: 0 0 0 30px #132938 inset;
        -webkit-text-fill-color: #bfdbfe;
    }
    
    &:-webkit-autofill:focus {
        box-shadow: 0 0 0 30px #132938 inset;
        -webkit-text-fill-color: #bfdbfe;
    }
    
    &:-webkit-autofill:active {
        box-shadow: 0 0 0 30px #132938 inset;
        -webkit-text-fill-color: #bfdbfe;
      }
    }
  }